body.red {
    background-color:red
}

#imageBackground {
  /* Full height */
  height: 100%;
  padding:0px;
  border:0px;
  margin:500px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#bottomMessage{
    position:fixed;
    bottom: 5px;
    left: 5px;
    font-size: 150%;
    color: red;
    font-family:cursive;
}


h2 {
    color:green;
    text-align:center;
}
div.index {
    width:95%;
    position:fixed;
    background-color:white;
    border:10px outset green;
    top: 30%;
}



i.index-left {
    color:green;
    font-size: 235%;
    position:absolute;
    left:10px;
    bottom:10%
}

i.index-right {
    position:absolute;
    color:green;
    font-size: 235%;
    right:10px;
    bottom:10%;
}

i.image-left {
    position:fixed;
    color:green;
    font-size: 150%;
    left:5px;
    bottom:5px;
}
i.image-right{
    position:fixed;
    color:green;
    font-size: 150%;
    right:5px;
    bottom:5px;
}
