body.red {
    background-color:red
}

#image-body {
    background-size: contain; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}

h2 {
    color:green;
    text-align:center;
}
div {
    width:95%;
    position:fixed;
    background-color:white;
    border:10px outset green;
    top: 30%;
}



i.index-left {
    color:green;
    font-size: 235%;
    position:absolute;
    left:10px;
    bottom:10%
}

i.index-right {
    position:absolute;
    color:green;
    font-size: 235%;
    right:10px;
    bottom:10%;
}

i.image-left {
    position:fixed;
    color:green;
    font-size: 150%;
    left:5px;
    bottom:5px;
}
i.image-right{
    position:fixed;
    color:green;
    font-size: 150%;
    right:5px;
    bottom:5px;
}

#bottomMessage {
    margin:auto;
    position:fixed;
    bottom: 5px;
    font-size: 150%;
    color: white;
    font-family:cursive;
    text-align: center;
}
